.title{
    font-size: 50px;
    color: #f8526e;
}

@media(max-width:554px)
{
    .title{
        font-size: 40px;
        color: #f8526e;
    }
}


.levelstyle span{
    color: #EA2E32;
  }
  
  .dashpara{
      margin-bottom: 1px;
  }
  .dashpara span{
      font-weight: 700;
  }
  .dashpara2{
      margin-bottom: 1px;
  }
  .dashpara2 span{
      color: #EA2E32;
  }