.timerWrapper {
    border: 1px solid #ea2e32;
    border-radius: 5px;
    font-weight: bold;
    color: #ea2e32;
    padding: 0.5rem 2.5rem;
    display: inline-block;
    background-color: #17151E;
}