.logo {
    width: 50px;
}

.navbar .navbar-nav {
    padding-right: 80px;
}

.navbar {
    background-color: #1f1c26;
    padding: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: #f8526e
}

.nav-link.active {
    border-bottom: 3px solid #f8526e;
color: #fff !important;
}

.navbarbackground{
    padding: 10px;
    padding-block: 15px;
    background-color: #191924;
}


/*############> New Style Start <############# */
.logoheadertext{
    
    font-weight: 700;
    color: #ea2e32;

}
/*############> New Style End <############# */