.logo {
    width: 50px;
}

.logoheadertext {
    font-weight: 700;
    color: #ea2e32;
}

.footer { 
    background-color: #1A1924;
    padding: 2rem;
    min-height: 105px;
    font-weight: bold;
}

@media(max-width:554px)
{
    .footer {
        background-color: #1A1924;
        padding: 0rem;
        min-height: 105px;
        font-weight: bold;
    }
}